{block content}
    <div class="list-content">
        <div class="list-header">
            <h1 n:block=title>Přihlaste se</h1>
        </div>
        <hr>
        <div>
            {control signinForm}
        </div>
        <div class="register-link">
            <a href="{link Signup:default}">Registrovat se</a>
        </div>
    </div>
{/block}
