{block content}
    <h1>Users list</h1>
    <ul>
        {foreach $items as $item}
            <li>{$item->username}</li>
        {/foreach}
    </ul>
    <a n:href="Signin:default">ABOBA</a>
{/block}
