{block title}Registrace nového účtu{/block}

{block content}
    <div class="home-link">
        <a href="{link Home:default}">Home</a>
    </div>
    <div class="signin-button" style="float: right; margin-top: -15px;">
        <a href="{link Signin:default}">Login</a>
    </div>
    <div class="signup-form">
        <h1>Registrace nového účtu</h1>

        {control signupForm}
    </div>
{/block}
