<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{ifset $title}{$title}{else}Hell Yeah{/ifset}</title>

    <head>
        <style>
            body {
                background-color: #1a0000;
                color: #ff5733;
                font-family: 'Times New Roman', serif;
            }

            .required label { color: maroon }

            header {
                max-width: 1200px;
                margin: 0 auto;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 2px solid #ff5733;
                padding: 10px;
                background-color: #1a0000;
            }

            nav a {
                color: #ff3333;
                text-decoration: none;
                margin: 0 10px;
            }

            nav {
                background-color: #1a1a1a;
                text-align: center;
                padding: 10px;
            }

            header .logo a {
                padding: 10px;
                background-color: #ff5733;
                color: #fff;
                text-decoration: none;
                border-radius: 5px;
                font-size: 18px;
            }

            main {
                max-width: 800px;
                margin: 0 auto;
                padding: 20px;
                background-color: #1a0000;
                box-shadow: 0 0 10px rgba(255, 87, 51, 0.5);
            }

            h1 {
                color: #ff5733;
            }

            .system-item {
                color: #ff5733;
            }

            footer {
                background-color: #1a0000;
                color: #ff5733;
                text-align: center;
                padding: 10px;
                font-size: 14px;
                border-top: 1px solid #ff5733;
            }

            footer a {
                color: #ff5733;
                text-decoration: none;
            }
        </style>
    </head>
</head>
<body>
    <header>
        <h1>Welcome to the Gym</h1>
    </header>

    

    <main>
        {block content}
        <p>Welcome to the darkest depths of the web.</p>
        {/block}
    </main>

    <footer>
        &copy; {= date('Y') } Hellish Website. All souls reserved.
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/naja@2/dist/Naja.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', naja.initialize.bind(naja));
    </script>
    {block scripts}
    {/block}
</body>
</html>