{extends '../@layout.latte'}

{block title}Upravit uživatele{/block}

{block content}
    <h1>Upravit uživatele</h1>
    
    {if $form->hasErrors()}
        <ul class="errors">
            {foreach $form->errors as $error}
                <li>{$error}</li>
            {/foreach}
        </ul>
    {/if}

    {control editUserForm}

    <a href="{link Admin:dashboard}">Zpět na Dashboard</a>
{/block}
